body{

margin: 0;

}

header{

background: #FF9800;
text-align: center;
padding-top: 14px;
padding-bottom: 10px;

}

h1{

margin: 0;
color: #fff;
font-size : 25px;

}

strong{

text-transform: uppercase;
font-size: 30px;

}

a{
    font-size: 15px;
    text-decoration: none;
}



nav {
    border-bottom : 1px solid # gray
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    }

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    padding: 7px 10px;
    color: green;
    display: block;
}

nav ul li a:hover{
    
    color: seagreen;
   
   }


   .BusinessSection{

   }

   .heading{

text-align: center;
padding: 15px 0;

}

   .heading h1{

color: black;

}

   .heading p{
   	
margin: 0;

   }


      .container{
   	
width: 1000px;
margin: 0 auto;	
overflow: hidden;

   }

   .business-list{

width: 30%;
float: left;

}

   .business-list{

width: 30%;

float: left;

padding-top: 50px;
}

.business-list ul{
    margin: 0;
    padding: 0;
}
.business-list ul li{
    list-style: none;
}
.business-list ul li a{
    color: #848181;
    font-size: 17px;
    padding: 1px 0;
    display: block;
}
.business-list ul li a:hover{
    color: black;
}

   .businessGalary{ 

   	width: 70%;
   	float: left;
   	
   }


   .businessGalary{

width: 70%;

float: left;

margin-top: 50px;

}

  
  .galary{

width: 33.33%;
float: left;
padding: 10px;
box-sizing: border-box;
  	
  }

  .galary img {

  	width: 100%;
  }

  .galary p{
  	
margin: 0;
  	
font-size: 14px;
  	
color: gray;
  }